body {
  margin: 0 auto;
  font-size: 62.5%;
  display: flex;
  font-family: 'Futura Std', 'Arial', sans-serif;
  justify-content: flex-start;
  background: linear-gradient(white, rgb(238, 204, 233));
  overflow: hidden;
}

@font-face {
  font-family: 'Futura Std';
  src: url('FuturaStd-Book.woff2') format('woff2'),
      url('FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Shojumaru';
  src: url('../fonts/Shojumaru-Regular.woff2') format('woff2'),
    url('../fonts/Shojumaru-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura BdCn BT';
  src: url('../fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
    url('../fonts/FuturaBT-BoldCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Light'), url('../fonts/FuturaStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
      url('../fonts/SourceCodePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* ---------------------------------------------- /*
 * DISPLAY DE LA NAV CACHÉE !
/* ---------------------------------------------- */

.blackBg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
}

.hideblackBg{
  display: none;
}


.hidden {
  left: -100%;
}


/* ---------------------------------------------- /*
 * aide
/* ---------------------------------------------- */

div.sideBar {
  position: absolute;
  padding: 3rem 3rem 0rem 3rem;
  background: white;
  width: calc(100%/3.5);
  height: 100vh;
  z-index: 100;
  overflow:scroll;
}

section.firstLine {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.close:hover {
  opacity: 0.6;
}

img.close {
  width: 1.5rem;
  margin: 1rem 0rem;
}

p {
  font-size: 0.8rem;
  line-height: 2.3rem;
}

p.boucle {
  line-height: 1.5rem;
}

.sideBar img{
  width: 1.5rem;
  margin: 0rem 0.6rem;
}

div.bar {
  width: 25rem;
  height: 0.08rem;
  background: #707070;
  margin: 3rem 0rem;
}

strong {
  color: #FD588B;
}

strong.boucle {
  color: #1FD0DE;
}

.openButton,
.closeButton,
.openButton2 {
  cursor: pointer;
}

#logoMusic{
  cursor: pointer;
}


/* ---------------------------------------------- /*
 * NIVEAUX
/* ---------------------------------------------- */


/* ---------------------------------------------- /*
 * Typography SIZE
/* ---------------------------------------------- */



/* ---------------------------------------------- /*
 * Left Zone
/* ---------------------------------------------- */

.leftZone {
  position: relative;
  display: flex;
  justify-content: start;
  width: 75%;
  height: 93vh;

  margin: 2rem 0rem 2rem 2rem;

}

/* ---------------------------------------------- /*
 * MAP
/* ---------------------------------------------- */

.map {
  width: 100%;
  height: 93vh;
}



/* ---------------------------------------------- /*
 * levelContainer
/* ---------------------------------------------- */

/* .levelContainer{
  display: flex;
  justify-content: center;
}

a.level {
  width: 2.2rem;
  height: 2.2rem;
  padding: 1rem;
  border: none;
  color: black;
  font-family: 'Futura BdCn BT';
  font-size:1rem;
  font-size:1.2rem;
} */


.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 12%;
}




.containButton {
  align-items: center;
  position: relative;
  width: 15%;
  display: flex;
}


.textButton {
  padding: 1.5rem;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'Futura Std Light';
}

.nav img {
  width: 2rem;
  padding: 1rem;
}




.repere {
  position: absolute;
  bottom: 0rem;
  right: 3rem;
  width: 12Rem;
  height: 12rem;
}


/* ---------------------------------------------- /*
 * Right Zone
/* ---------------------------------------------- */

.rightZone {
  width: 30%;
  height: 93vh;
  margin: 2rem 1rem 0rem 0rem;
}

/* ---------------------------------------------- /*
 * SCREEN JAVASCRIPT
/* ---------------------------------------------- */
.screen {
  border-radius: 0.3rem;
  width: 93%;
  height: 74%;
  background-color: #292A36;
  margin: 0rem 1rem 1rem 1rem;
}

.lvlScreen{
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6%;
  background-color: #191A22;
}

h1 {
  font: 700 1rem/1.2 'Source Code Pro', sans-serif;
  margin: 0.5rem 0 0.5rem;
  color: white;
}

span{
  color: white;
  font-size: 1rem;
  font-family: 'Source Code Pro';
}

input{
  width: 2rem;
  height: 1rem;
  font-size: 1rem;
}

/* FOR */

.boucleFor{
  overflow:scroll;
  padding: 1rem;
  width: 85%;
  height: 22%;
  background-color:#191A22;
  margin: 1rem;
}


span.for{
  color: rgb(255, 94, 239);
}

.MIDDLE{
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1rem;
  background-color: white;
}

/* WHILE */

.boucleWhile{
  overflow:scroll;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: 85%;
  height: 22%;
  background-color: #191A22;
}

.UP{
  width: 30%;
  margin-bottom: 1rem;
  height: 1rem;
  background-color: white;
}


span.while{
  color: rgb(81, 235, 255);
}

/* IF */

.if{
  overflow:scroll;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: 85%;
  height: 22%;
  background-color: #191A22;
}

span.ifText{
  color: rgb(55, 255, 55);
}




/* ---------------------------------------------- /*
 * commandContainer
/* ---------------------------------------------- */

.command {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  width: 93%;
  height: 24%;
  background-color: #292A36;
  margin: 0rem 0rem 0rem 1rem;
}


.commandContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191A22;
  width: 92%;
  height: 80%;
}

.column{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.command {
  border-radius: 0rem;
  background-color: white;
  color: black;
  font-family: 'Source Code Pro';
  font-size: 0.8rem;
  width: 8rem;
  height: 1.5rem;
  margin: 0.2rem 0rem 0.2rem 0rem;
}



/* ---------------------------------------------- /*
 * MAP
/* ---------------------------------------------- */



#mapCanvas, #charCanvas{
  display: block;
  position: absolute;
  top:0%;
  left:10%;
  overflow: visible;
}
