body {
  height: 100vh;
  margin: 0 auto;
  font-size: 62.5%;
  display: flex;
  font-family: 'Futura Std', 'Arial', sans-serif;
  justify-content: flex-start;
  /* background-image: url(../images/game/bg.svg); */
  background: linear-gradient(white, #FFDDFC);
  overflow: hidden;
}

@font-face {
  font-family: 'Futura Std';
  src: url('../fonts/FuturaStd-Book.woff2') format('woff2'),
    url('../fonts/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shojumaru';
  src: url('../fonts/Shojumaru-Regular.woff2') format('woff2'),
    url('../fonts/Shojumaru-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura BdCn BT';
  src: url('../fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
    url('../fonts/FuturaBT-BoldCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Light'), url('../fonts/FuturaStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
    url('../fonts/SourceCodePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------------- /*
 * FENETRE POP TUTOS :D
/* ---------------------------------------------- */
.popUp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

#openWindow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp:target {
  opacity: 1;
  pointer-events: auto;
}

.popUp>div {
  width: 70%;
  height: 70vh;
  padding: 10px 25px 30px 25px;
  border-radius: 0.5rem;
  background: white;
}

.close:hover {
  opacity: 0.6;
}

.Tuto {
  display: flex;
  justify-content: space-between;
}

section.Tuto img {
  padding: 1rem;
  width: 1.5rem;
}

.Tuto h2 {
  text-align: center;
}

.flexVideo {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 85%;
}

.video {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.videoTuto {
  width: 100%;
}

/* ---------------------------------------------- /*
 * DISPLAY DE LA NAV CACHÉE !
/* ---------------------------------------------- */
.blackBg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
}

.hideblackBg {
  display: none;
}

.hidden {
  left: -100%;
}

.hideOpacity {
  display: none !important;
}

/* ---------------------------------------------- /*
 * aide
/* ---------------------------------------------- */
div.sideBar {
  position: absolute;
  padding: 3rem 3rem 0rem 3rem;
  background: white;
  width: calc(100%/3.5);
  height: 100vh;
  z-index: 100;
}

section.firstLine {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.close:hover {
  opacity: 0.6;
}

img.close {
  width: 1.5rem;
  margin: 1rem 0rem;
}

p {
  font-size: 0.8rem;
  line-height: 2.3rem;
}

p.boucle {
  line-height: 1.5rem;
}

.sideBar img {
  width: 1.5rem;
  margin: 0rem 0.6rem;
}

div.bar {
  width: 25rem;
  height: 0.08rem;
  background: #707070;
  margin: 3rem 0rem;
}

strong {
  color: #FD588B;
}

strong.boucle {
  color: #1FD0DE;
}

.openButton,
.closeButton,
.openButton2,
.openButton3,
.add,
.commandButton,
.closeButton3 {
  cursor: pointer;
}

#logoMusic {
  cursor: pointer;
}

/* ---------------------------------------------- /*
 * NIVEAUX
/* ---------------------------------------------- */
.containerWindow {
  position: absolute;
}

.containWindow {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.window {
  z-index: 200;
  margin: 0;
  width: calc(100%/1.7);
  height: 65vh;
  background: url('../images/game/lvl.svg')center / cover no-repeat;
  position: absolute;
}

.window h1 {
  padding: 1.5rem;
  text-align: center;
  font-family: 'kato';
  font-size: 2rem;
  color: black;
}

.closeButton2 {
  width: 2rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.closeButton2:hover {
  opacity: 0.6;
}

div.allNb {
  margin: 0 auto;
  width: 22.5rem;
  height: 100%;
}

.window span {
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  opacity: 0.85;
  border: solid 0.09rem #D575CB;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0.2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.activeLevel {
  background-color: red !important;
  color: white !important;
}

#completedLevel {
  background-color: #809c13;
  color: black;
}

section.allNb {
  display: flex;
  justify-content: space-between;
}

section.part1, section.part2, section.part3 {
  width: 8rem;
  margin: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}

/* ---------------------------------------------- /*
 * SKIN PR LE NINJA OEOE
/* ---------------------------------------------- */
.windowSkinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.windowSkin {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: white;
  width: 50%;
  height: 25%;
}

.closeButton3 {
  width: 1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 13%;
}

.title h1 {
  color: black;
  font-size: 1.5rem;
}

.skinContent {
  height: 78%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skinContent img {
  width: 6rem;
  cursor: pointer;
}

/* ---------------------------------------------- /*
 * Left Zone
/* ---------------------------------------------- */
.leftZone {
  position: relative;
  display: flex;
  justify-content: start;
  width: 75%;
  height: 93vh;
  margin: 2rem 0rem 2rem 2rem;
}

/* ---------------------------------------------- /*
 * MAP
/* ---------------------------------------------- */
.map {
  width: 100%;
  height: 93vh;
}

/* ---------------------------------------------- /*
 * levelContainer
/* ---------------------------------------------- */
/* .levelContainer{
  display: flex;
  justify-content: center;
}

a.level {
  width: 2.2rem;
  height: 2.2rem;
  padding: 1rem;
  border: none;
  color: black;
  font-family: 'Futura BdCn BT';
  font-size:1rem;
  font-size:1.2rem;
} */
.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 12%;
}

.containButton {
  align-items: center;
  position: relative;
  width: 15%;
  display: flex;
}

.textButton {
  padding: 1.5rem;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'Futura Std Light';
}

.nav img {
  width: 2rem;
  padding: 1rem;
}

.repere img {
  width: 100%;
  height: 100%;
}

.repere {
  position: absolute;
  bottom: 0rem;
  right: 3rem;
  width: 12Rem;
  height: 24%;
}

/* ---------------------------------------------- /*
 * Right Zone
/* ---------------------------------------------- */
.rightZone {
  width: 30%;
  height: 93vh;
  margin: 2rem 1rem 0rem 0rem;
}

/* ---------------------------------------------- /*
 * SCREEN JAVASCRIPT
/* ---------------------------------------------- */
.screen {
  position: relative;
  width: 93% !important;
  height: 74% !important;
  border-radius: 0.3rem;
  background-color: #292A36;
  margin: 0rem 1rem 1rem 1rem;
  overflow-x:hidden;
  overflow-y:hidden;
}

.simplebar-scrollbar:before{
  background: grey !important;
}

.actionWrap{
  /* height and width must be !important or else they're gonna be overwritten by the simplebar wrapper */
  padding-top:0.7rem;
  width:100% !important;
  height:63vh !important;
  z-index:5;
  overflow:auto;
}

.lvlScreen {
  padding-bottom: 0.3rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6%;
  background-color: #191A22;
  margin-bottom: 0.2rem;
}

.blockLimit {
  padding: 7px;
  border: 1px solid green;
  position: absolute;
  top: 0%;
  right: 2%;
  color: white;
}

#screen_error {
  transition: opacity 0.8s ease-in;
  background-color: #666;
  position: absolute;
  width: 85%;
  color: red;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

#screen_error h1 {
  color: white;
  font-size: 1rem;
}

.lvlScreen h1 {
  font: 700 1rem/1.2 'Source Code Pro', sans-serif;
  margin: 0.5rem 0 0.5rem;
  color: white;
}

span {
  color: white;
  font-size: 1rem;
  font-family: 'Source Code Pro';
}

input {
  width: 2rem;
  height: 1rem;
  font-size: 1rem;
}

/* CLOSE */
.bye {
  display: flex;
  height: 0.7rem;
  margin-left: 97%;
  margin-bottom: 5%;
  cursor: pointer;
}

/* FOR */
.boucleFor {
  padding: 1rem;
  width: 85%;
  height: 18%;
  background-color: #191A22;
  margin: 0rem 1rem 1rem 1rem;
}

span.for {
  color: rgb(255, 57, 212);
}

.ninja {
  color: rgb(71, 249, 255);
}

.MIDDLE {
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1rem;
  background-color: white;
}

/* ACTION */
.action {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: 85%;
  height: 8.5%;
  background-color: #191A22;
}

.UP {
  width: 30%;
  margin-bottom: 1rem;
  height: 1rem;
  background-color: white;
}

.activeInstruction {
  border: 2px solid green;
}

/* IF */
/* .if{
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: 85%;
  height: 22%;
  background-color: #191A22;
}

span.ifText{
  color: rgb(55, 255, 55);
} */
/* ---------------------------------------------- /*
 * commandContainer
/* ---------------------------------------------- */
.command {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  width: 93%;
  height: 24%;
  background-color: #292A36;
  margin: 0rem 0rem 0rem 1rem;
}

.commandContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191A22;
  width: 92%;
  height: 80%;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add {
  border-radius: 0rem;
  background-color: white;
  color: rgb(255, 66, 154);
  font-family: 'Source Code Pro';
  font-size: 0.8rem;
  font-weight: 900;
  width: 6rem;
  height: 1.5rem;
  margin: 0.2rem 0rem 0.2rem 0rem;
}

.commandButton {
  border-radius: 0rem;
  background-color: white;
  color: black;
  font-family: 'Source Code Pro';
  font-size: 0.8rem;
  width: 6rem;
  height: 1.5rem;
  margin: 0.2rem 0rem 0.2rem 0rem;
}

button.command {
  border-radius: 0rem;
  background-color: #0D0E12;
  color: white;
  border-color: #191A22;
  font-family: 'Source Code Pro';
  font-size: 0.7rem;
  width: 6rem;
  height: 1.7rem;
  margin: 0.2rem 0rem 0.2rem 0rem;
}

/* ---------------------------------------------- /*
 * MAP
/* ---------------------------------------------- */
#mapCanvas, #charCanvas {
  display: block;
  position: absolute;
  top: 0%;
  left: 10%;
  overflow: visible;
}
