body {
    margin: 0;
    color: #666;
}

/* ---------------------------------------------- /*
 * FONT
/* ---------------------------------------------- */

@font-face {
    font-family: 'Shojumaru';
    src: url('../fonts/Shojumaru-Regular.woff2') format('woff2'),
        url('../fonts/Shojumaru-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Std Light'), url('../fonts/FuturaStd-Light.woff') format('woff');
}

@font-face {
    font-family: 'Futura Std Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Std Light Oblique'), url('../fonts/Futura Std Light Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura BdCn BT';
    src: url('../fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('../fonts/FuturaBT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kato';
    src: url('../fonts/Kato.woff2') format('woff2'),
        url('../fonts/Kato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* ---------------------------------------------- /*
 * LINK
/* ---------------------------------------------- */

a {
    color: #d5b9a5;
}

a:hover {
    text-decoration: none;
    color: #999;
}

/* ---------------------------------------------- /*
 * Typography SIZE
/* ---------------------------------------------- */

h1 {
    font: 700 70px/1.2 'Shojumaru', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: black;
}

h2 {
    font: 700 35px/1.2 'Futura BdCn BT', sans-serif;
    margin: 0 0 30px;
    color: black;
}

h3 {
    font-family: 'Kato', sans-serif;
    font-size: 35px;
    color: #DD0000;
}

h4 {
    font-size: 12px;
    letter-spacing: 1px;
}

h5 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}

p {
    font: 17px 'Futura Std Light', sans-serif;
    color: black;
    line-height: 27px;
    margin-top: -10px;
}

.Block {
    display: flex;
    flex-direction: row;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url('../images/home/home2.svg') center top/ cover no-repeat;
}

.homeContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeContentTitle {
    flex-direction: column;
    text-align: center;
}

.homeContentDescription {
    flex-direction: column;
    text-align: center;
}

/* ---------------------------------------------- /*
 * Home : Mouse icon
/* ---------------------------------------------- */

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 20px;
    border: 2px solid white;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -15px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: white;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Section 1
/* ---------------------------------------------- */

.section1 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home/section1.svg') center left -2%/ 300px 300px no-repeat;
}

.sectionContent1 {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
}

/* ---------------------------------------------- /*
 * line
/* ---------------------------------------------- */
hr {
    color: black;
    width: 600px;
}

/* ---------------------------------------------- /*
 * Section 2
/* ---------------------------------------------- */

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home/section2.svg') center right -2%/ 300px 300px no-repeat;
}

.sectionContent2 {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
}

/* ---------------------------------------------- /*
 * Section 3
/* ---------------------------------------------- */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home/section3.svg') center left -2%/ 300px 300px no-repeat;
}

.sectionContent3 {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
}


/* ---------------------------------------------- /*
 * SLIDER
/* ---------------------------------------------- */

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fondblancdecemaures {
    position: absolute;
    top: 0%;
    left: 50.2%;
    /* 0.2% pour la ligne noire */
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
    opacity: 0;
    transition: all ease-out 0.5s;
}

.fondblancdecemaures_temp {
    position: absolute;
    top: 0%;
    left: 0%;
    /* 0.2% pour la ligne noire */
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}


.div100VH {
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.div20VH {
    width: 100%;
    height: 20vh;
    pointer-events: none;
}

.drawings {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.rond {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 15px;
    height: 15px;
    border: 0.5px solid black;
    border-radius: 7.5px;
}

.blanc {
    background-color: black;
    border: none;
    right: 35px;
}

.noir:hover {}

/*.drawings .image_left{
    background-ixxmage: url("../images/024_akirav2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width:100%;
    transition: linear 1s;
  }*/
.drawings img {
    height: 100%;
    transition: 1s;
}

.drawings img:hover {
    filter: invert(100%);
}

.drawings__description h1 {
    font-family: acronym_bold;
    font-size: 30px;
}

.white_space_uh {
    width: 100%;
    height: 15vh;
}

.black_banner {
    width: 100%;
    height: 12vh;
    background-color: black;
    position: sticky;
    margin-bottom: 50px;
}

.container_page {
    width: 100%;
    height: 300vh;
    display: flex;
    flex-flow: column wrap;
    background-attachment: fixed;
    background-color: white;
}

.truc_xd {
    background: none;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.truc_xd .line {
    position: absolute;
    top: 200%;
    left: 50%;
    height: 85%;
    width: 2%;
    border-left: 3px solid black;
    transform: translateY(-50%);
    transition: all ease-out 0.6s;
}


img#akira_sideimg {
    position: absolute;
    height: 70%;
    width: auto;
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all ease-out 0.6s;
    z-index: -2;
}

.text {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 68%;
    font-family: baukasten_book;
    font-size: 20px;
    color: black;
    transition: all ease-out 0.6s;
    opacity: 0;
    transform-origin: left;
}

.text .title {
    font-family: baukasten_bold;
    font-size: 80px;
}

.text .subtitle {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.text .date {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.text .body {
    font-size: 25px;
    width: 600px;
}


.nav {
    list-style-type: circle;
    position: absolute;
    top: 78%;
    left: 75%;
    transform: translateY(-50%);
    font-size: 60px;
    transition: all ease-out 0.6s;
    opacity: 0
}

.nav li {
    float: left;
    margin: 25px;
    cursor: pointer
}


.arrow {
    position: absolute;
    top: 84%;
    left: 83%;
    width: 60px;
    height: auto;
    transition: all ease-out 0.6s;
    opacity: 0;
    cursor: pointer;
}

.arrow.right {
    left: 96%;
    transform: scale(-1);
}


/* ---------------------------------------------- /*
 * BUTTON
/* ---------------------------------------------- */


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/home/Preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}