body {
    margin: 0;
    color: #666;
    background-color: white;
}

/* ---------------------------------------------- /*
 * FONT
/* ---------------------------------------------- */

@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Book.woff2') format('woff2'),
        url('../fonts/FuturaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Shojumaru';
    src: url('../fonts/Shojumaru-Regular.woff2') format('woff2'),
        url('../fonts/Shojumaru-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Std Light'), url('../fonts/FuturaStd-Light.woff') format('woff');
}

@font-face {
    font-family: 'Futura Std Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Std Light Oblique'), url('../fonts/Futura Std Light Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura BdCn BT';
    src: url('../fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('../fonts/FuturaBT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kato';
    src: url('../fonts/Kato.woff2') format('woff2'),
        url('../fonts/Kato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


/* ---------------------------------------------- /*
 * LINK
/* ---------------------------------------------- */

a {
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 2rem;
    font-family: 'Futura BdCn BT';
    color: white;
    background: #ed1c24;
    text-decoration: none;
}

a:hover {
    color: black;
}

/* ---------------------------------------------- /*
 * Typography SIZE
/* ---------------------------------------------- */

h1 {
    font: 700 70px/1.2 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0 0 0 0;
    color: black;
}

h2 {
    font: 700 16px/1.2 'Source Code Pro', sans-serif;
    margin: 0 0 50px;
    font-weight: lighter;
    color: black;
}

h3 {
    font-family: 'Kato', sans-serif;
    font-size: 35px;
    color: #ed1c24;
}

h4 {
    font-size: 12px;
    letter-spacing: 1px;
}

h5 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    margin: 0%;
    font-family: 'Kato';
    font-size: 70px;
    color: #DD0000;
}

p {
    font: 17px 'Futura Std Light', sans-serif;
    color: black;
    line-height: 27px;
    margin-top: -10px;
    color: black;
}

.Block {
    display: flex;
    flex-direction: row;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url('../images/home/home2.svg') center top/ cover no-repeat;
}

.homeContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeContentTitle {
    flex-direction: column;
    text-align: center;
}

.homeContentDescription {
    flex-direction: column;
    text-align: center;
}

/* ---------------------------------------------- /*
 * Home : Mouse icon
/* ---------------------------------------------- */

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 20px;
    border: 2px solid white;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -15px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: white;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Section 1
/* ---------------------------------------------- */

.section1 {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home/section1.svg') center left -2%/ 300px 300px no-repeat;
}

.sectionContent1 {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
}

/* ---------------------------------------------- /*
 * line
/* ---------------------------------------------- */
hr {
    color: black;
    width: 600px;
}

/* ---------------------------------------------- /*
 * Section 2
/* ---------------------------------------------- */

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home/section2.svg') center right -2%/ 300px 300px no-repeat;
}

.sectionContent2 {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
}

/* ---------------------------------------------- /*
 * Section 3
/* ---------------------------------------------- */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home/section3.svg') center left -2%/ 300px 300px no-repeat;
}

.sectionContent3 {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
}

/* ---------------------------------------------- /*
 * SLIDER
/* ---------------------------------------------- */

* {
    box-sizing: border-box;
}

a.prev, a.next{
    background-color: transparent;
    color: rgb(36, 36, 36);
    font-size: 2rem;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 50vw;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #bbb;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/* ---------------------------------------------- /*
 * BUTTON
/* ---------------------------------------------- */

.buttonEnd {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

/* #status,
.status-mes {
    background-image: url(../images/logo.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
} */

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}